table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para las filas de encabezado */
thead th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

/* Estilos para las filas del cuerpo */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.Nuevo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo cuando el botón es presionado o el cursor pasa sobre él */
.Nuevo:hover,
.Nuevo:active {
    background-color: #0056b3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para etiquetas */
form label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para campos de entrada */
form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de enviar */
form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo cuando el botón es presionado o el cursor pasa sobre él */
.boton:hover,
.boton:active {
    background-color: #0056b3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.error{
    font-size: 16px;
    color: red;
    font-weight: bold;
}